.Nav {
  position: sticky;
  background-color: #ffffff;
  top: 0;
  display: flex;
  width: 100%;
  border-bottom: black solid 2px;
  justify-content: space-between;
  z-index: 20px;
}

.logo {
  display: flex;
  margin-left: 15%;
  color: darkblue;
  font-size:xx-large;
  font-family: "Times New Roman", Times, serif;
}

.Cam {
  width: 70px;
  margin-right: 20%;
  cursor: pointer;
}

.logo img {
  width: 20%;
}

.Camicon{
  display: flex;
  margin-right: 10%;
  margin-top: 1%;
}