.container {
  width: 500px;
  margin: 10% auto;
  border: 2px solid rgb(137, 151, 155);
  padding: 1%;
  border-radius: 10px;
}

.input_file_container {
  border: 1px solid rgb(137, 151, 155);
}

input[type="file"]::file-selector-button {
  background-color: #fff;
  color: #000;
  border: 0px;
  border-right: 1px solid rgb(137, 151, 155);
  padding: 10px 15px;
  margin-right: 20px;
  transition: 0.5s;
}

input[type="file"]::file-selector-button:hover {
  background-color: #eee;
  border: 0px;
  border-right: 1px solid rgb(137, 151, 155);
}

.input_name_container,
.input_location_container,
.input_description_container {
  width: 100%;
}

input[type="text"] {
  width: 100%;
  padding: 10px 22px;
  margin: 10px 0px;
  box-sizing: border-box;
  border: 1px solid rgb(137, 151, 155);
}

.SubmitButton{
    width : fit-content;
    float: right;
    
}

button[type="submit"]{
    display: inline-block;
    outline: 0;
    appearance: none;
    padding: 0px 12px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(249, 251, 250);
    border: 1px solid rgb(137, 151, 155);
    box-shadow: rgb(6 22 33 / 30%) 0px 1px 2px;
    color: rgb(61, 79, 88);
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    transition: all 150ms ease-in-out 0s;
}

button[type="submit"]:hover {
    color: rgb(61, 79, 88);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(93, 108, 116);
    box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px, rgb(231 238 236) 0px 0px 0px 3px;
}